<!DOCTYPE html>
<html>
<head>
  <title><%= @deal.proposition %></title>
 

  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "entertainment/assets/stylesheets/entertainment_deals", :media => "all" %>

  <script type="text/javascript">
    var aaDealPath = '<%= deal_path @deal, :format => "json" %>';
  </script>
  <%= render 'app/themes/entertainment/views/shim' %> 
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  
</head>

<body>
  <%= render 'entertainment/views/nav'%>
  
    <div class="container">
      <% if flash[:warn].present? %>
      <div class="row">
        <div class="span16">
          <div class="alert-message warning">
            <p><%= flash[:warn] %></p>
          </div>
        </div>
      </div>
      <% end %>

      <% if flash[:notice].present? %>
      <div class="row">
        <div class="span16">
          <div class="alert-message success">
            <p><%= flash[:notice] %></p>
          </div>
        </div>
      </div>
      <% end %>

<%= yield %>

      <footer>
        <p>Entertainment <%= @deal.advertiser.publisher.name %> of the Day</p>
      </footer>

    </div> <!-- /container -->
</body>
</html>
